/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/public/uploads/*
/.idea
/public/assets/js/client.js
/public/assets/js/client.js.map
/public/assets/js/file_upload.js
/public/assets/js/file_upload.js.map
/public/assets/js/script.js
/public/assets/js/script.js.map
/public/assets/js/script_vue.js
/public/assets/js/script_vue.js.map
/public/assets/js/client_vue.js
/public/assets/js/client_vue.js.map