.footer {
    height: @footer-height;
    padding-top: 20px;
    border-top: 1px solid #bdbdbd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f0f0f0;
    z-index: 2;
}
.copyright {
    .inlineblock();
    margin-left: 10px;
}